<body>
  <div class="pricing-table-title">
      <h2>Subscription Model</h2>
  </div>
  <div class="pricing-table table-5">
      <div class="ptable-item">
          <div class="ptable-single">
              <div class="ptable-header">
                  <div class="ptable-title">
                      <h2>Silver</h2>
                  </div>
                  <div class="ptable-price">
                      <h2><small>$</small>99<span>/ M</span></h2>
                  </div>
              </div>
              <div class="ptable-body">
                  <div class="ptable-description">
                      <ul>
                          <li>SD content</li>
                          <li>Stereo Sound Quality</li>
                          <li>Wait of 3 days after released</li>
                          <li>Single Device</li>
                          <li>Adds- Free</li>
                          <li>All Content</li>
                      </ul>
                  </div>
              </div>
              <div class="ptable-footer">
                  <div class="ptable-action">
                      <a (click)="navigateTo(99)"><i class="fa fa-shopping-cart" ></i>Buy Now</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="ptable-item featured-item">
          <div class="ptable-single">
              <div class="ptable-header">
                  <div class="ptable-status">
                      <span>Hot</span>
                  </div>
                  <div class="ptable-title">
                      <h2>Gold</h2>
                  </div>
                  <div class="ptable-price">
                      <h2><small>$</small>199<span>/ M</span></h2>
                  </div>
              </div>
              <div class="ptable-body">
                  <div class="ptable-description">
                      <ul>
                          <li>Full HD content</li>
                          <li>Dolby 5.1</li>
                          <li>Wait of 2 days after released</li>
                          <li>2 Devices</li>
                          <li>Adds- Free</li>
                          <li>All Content</li>
                      </ul>
                  </div>
              </div>
              <div class="ptable-footer">
                  <div class="ptable-action">
                      <a (click)="navigateTo(199)"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="ptable-item">
          <div class="ptable-single">
              <div class="ptable-header">
                  <div class="ptable-title">
                      <h2>Platinum</h2>
                  </div>
                  <div class="ptable-price">
                      <h2><small>$</small>299<span>/ M</span></h2>
                  </div>
              </div>
              <div class="ptable-body">
                  <div class="ptable-description">
                      <ul>
                          <li>Ultra HD (4K) content</li>
                          <li>Dolby Atmos</li>
                          <li>Watch Latest</li>
                          <li>5 Devices</li>
                          <li>Adds- Free</li>
                          <li>All Content</li>
                      </ul>
                  </div>
              </div>
              <div class="ptable-footer">
                  <div class="ptable-action">
                      <a (click)="navigateTo(299)"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

</body>
